.login_container {
    -fx-background-color: #EEEEEEE;
}

/*Logo Container Styles*/
.login_logo_container {
    -fx-background-color: #132A13;
    -fx-alignment: center;

}

.login.login_container Text {
    -fx-font-size: 2em;
    fx-fill: #FFFFFF;
}

.login_logo_container FontAwesomeIconView {
    -fx-fill: #ECF39E;
}
